/* Global ==========*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #f0f2f5;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: min(90vw, 800px);
    margin: auto;
    margin-top: -8rem;
}

/* Titles ===========*/
h2{
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
    color: #363f5f;
    font-weight: normal;
}

/* Header ===========*/
header{
    background: #2d4a22;
    padding: 2rem 0 10rem;
    text-align: center;
}

#logo{
    color: #fff;
    font-weight: 100;
}

/* Balance===========*/
#balance h2{
    margin-top: 0;
    color: #fff;
}

/* Cards===========*/
.card{
    background: #fff;
    padding: 1.5rem 2rem;
    border-radius: 0.25rem;
    margin-bottom: 2rem;
    color: #363f5f;
}

.card h3{
    font-weight: normal;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card p{
    font-size: 2rem;
    margin-top: 1rem;
}

.card.total{
    background: #49aa26;
    color: white;
}

/*Transaction */

#transaction{
    width: 100%;
    display: block;
    overflow-x: auto;
}

/*Modal ======*/
.modal-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal{
    background: #f0f2f5;
    padding: 2.4rem;
}

.modal h2{
    margin: 0;
}

.modal .input-group{
    margin-top: 10px;
}

.modal .input-group input{
    width: 100%;
    padding: 10px 5px;
    font-size: 15px;
}

.button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

button{
    width: 50%;
    height: 50px;
}
.save{
    color: white;
    background: #3dd705;
    margin-left: 10px;
}

/* Footer===========*/
footer{
    text-align: center;
    padding: 4rem 0 2rem;
    color: #363f5f;
    opacity: 0.6;
}

/* Tabela===========*/
#data-table{
    width: 100%;
    border-spacing: 0 0.5rem;
    color: #969cb3;
}

table th{
    background: white;
    font-weight: normal;
    padding: 1rem 2rem;
    text-align: left;
}

table td{
    background: white;
    padding: 1rem 2rem;
}

td.description{
    color: #363f5f;
}

td.income{
    color: #12a454;
}

td.expense{
    color: #e92929;
}

table tbody tr{
    opacity: 0.7;
}

table tbody tr:hover{
    opacity: 1;
}

table thead tr th:first-child, table tbody tr td:first-child{
    border-radius: 0.25rem 0 0 0.25rem;
}

/*Responsividade*/

@media (min-width: 800px){
    html{
        font-size: 87.5%;
    }

    #balance{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    #balance h2{
        display: none;
    }
}